---
layout: default
title: Level 1
---
<p id="goal">
	<b>Goal:</b> Construct an equilateral triangle such that the segment AB is one of its sides.
</p>
<p id="level">
	You unlocked a new tool: Constructing equilateral triangles!
	<a href="Level2.html">Go to level 2.</a><br>
</p>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 | 15 | 18 | 10"; //| 100001 | 100002 | 9 | 4 | 3 | 100003 | 53";
	parameters.ggbBase64 = "{% base64 ggb/template3.ggb %}" ;
	parameters.language = "en"
	</script>

<div id="applet_container">
 </div>

 <script>
{% include testobjects.js %}
 
 //here you can check all objects 
checkobject("pointtop", "step1");
checkobject("target1b", "step2");
checkobject("endtarget","step3");

  //which step are neccesary to complete level
  if (ggbApplet.getVisible("step1")) {
    ggbApplet.setVisible("step1", true);
  document.getElementById("level").style.display="inline-block";
  }
}

</script>
